
<nav class="navbar navbar-expand-lg navbar-light bg-light text-bold" style="background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?size=626&ext=jpg&ga=GA1.2.28150209.1672238783' );  height: 15vh;" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand text-white" ><h1>Recipe Book</h1></a>
        </div>

        <!-- <div class="navbar-dark bg-transparent">
            <ul class="navbar-brand nav-item active"> -->
                <li><a href="#" class="text-danger h3" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" class="text-warning h3" (click)="onSelect('shopping-list')">Shopping List</a></li>
            <!-- </ul> -->
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu"> -->
                        <!-- <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    <!-- </div> -->
</nav>